version: '2'
services:
    # zookeeper setting
    zookeeper:
        image: wurstmeister/zookeeper:3.4.6
        container_name: zookeeper
        ports:
            - "2181:2181"
    # kafka setting
    kafka:
        image: wurstmeister/kafka:2.13-2.8.1
        container_name: kafka
        ports:
            - "9092:9092"
        environment:
            # 카프카 토픽 설정
            # TopicName:Partition_Num:Replica_Num
            KAFKA_CREATE_TOPICS: "testTopic:1:1"
            # 카프카 호스트 이름?
            KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
            # 주키퍼 커넥션 ip:port
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    # kafka manager setting
    kafka_manager:
        image: hlebalbau/kafka-manager:3.0.0.5-7e7a22e
        container_name: kafka_manager
        ports:
            - "9000:9000"
        environment:
            # 주키퍼 케넥션 호스트 설정
            ZK_HOSTS: zookeeper:2181
            #            APPLICATION_SECRET: "random-secret"
            KAFKA_MANAGER_AUTH_ENABLED: "true"
            # 카프카 매니지먼트 init 유저 설정
            KAFKA_MANAGER_USERNAME: admin
            KAFKA_MANAGER_PASSWORD: 1234
