version: '2'
services:
    # zookeeper setting
    zookeeper:
        image: wurstmeister/zookeeper:3.4.6
        container_name: zookeeper
        restart: always
        ports:
            - "2181:2181"
    # kafka setting
    kafka:
        image: wurstmeister/kafka:2.13-2.8.1
        container_name: kafka
        ports:
            - "9092:9092"
        depends_on:
            - zookeeper
        environment:
            # 카프카 토픽 설정
            # TopicName:Partition_Num:Replica_Num,
            KAFKA_CREATE_TOPICS: "testTopic:1:1"
            # 카프카 호스트 이름?
            # #카프카 프로듀서, 컨슈머에게 노출할 주소. 설정하지 않을 경우 디폴트로 listners 설정이 적용된다.
            KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
            # 주키퍼 커넥션 ip:port
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    kafka-ui:
        image: provectuslabs/kafka-ui
        container_name: kafka-ui
        restart: always
        ports:
            - "9000:8080"
        environment:
            # Log 레벨
            LOGGING_LEVEL_ROOT: debug
            KAFKA_CLUSTERS_0_NAME: local-kafka
            KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
            KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
