name: reviewdog
on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    ktlint:
        name: Check Code Quality
        runs-on: ubuntu-latest
        steps:
            -   name: Clone repo
                uses: actions/checkout@main
                with:
                    fetch-depth: 1

            -   name: Run ktlint with reviewdog
                uses: ScaCap/action-ktlint@1.3
                with:
                    github_token: ${{ secrets.github_token }}
                    reporter: github-pr-review
                    android: false
                    fail_on_error: true
                    level: [ info,warning,error ]
